[Unit]
Description=Gunicorn instance to serve sivs-diary
After=network.target

[Service]
# Run as your user, not root
User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/sivs-diary/sivs-diary/application/

EnvironmentFile=/home/ubuntu/sivs-diary/sivs-diary/.env

ExecStart=/home/ubuntu/venv/bin/gunicorn \
    --workers 4 \
    --bind 0.0.0.0:8000 \
    app:app

# Restart automatically if it crashes
Restart=always

[Install]
WantedBy=multi-user.target